@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.isolate {
  isolation: isolate;
}

*:focus, *:active {
  outline: none;
  border: none;
}

/* Add this to your globals.css */
/* .transparent-nav {
  background-color: transparent !important;
  background: transparent !important;
  backdrop-filter: none !important;
} */

.navbar-bg {
  background-color: #275160ff;
  /* background-color: white; */
}

/* .page-bg {
  background-color: #333946;
  background-color: #acbba1;
} */
.page-bg {
  background-image: url('../../public/images/blahblah.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This makes it stay fixed while scrolling */
  min-height: 100vh; /* Ensures it covers full viewport height */
}


.categories-bg {
  background-color: #90dcd4ff;
}

.statuses-bg {
  background-color: #90dcd4ff;
}

.upvote-selected-bg {
  background-color: #38b2ac;
}

.upvote-deselected-bg {
  background-color: #161353ff;
}

.suggestions-entry-bg {
  background-color: #90DCD4ff;
}

.suggestions-entry-status-bg {
  background-color: #08030cff;
}

/* div {
  border: 1px solid;
  border-radius: 10px;
} */


